<!DOCTYPE HTML5>
<html>
  <body>
      <%- include('../views/head', {page_title:"HalfWayThere"}); %>
      <link rel="stylesheet" href="styles/history.css">


    <main>
      <%- include('../views/header'); %>

      <ul class="db-results">

        <% results.forEach( item => { %>
          <li>
            <section>
              <div class="smaller-container">
                <img class="historyImg" src="<%- item.image_url %>">
                <h2><%= item.name %></h2>
                <h4><%= item.info %></h4>

                <div class="info">
                    
                    <p>Rating 0-5: <%= item.rating %></p>
                    <p>Price: <%= item.price %></p>
                    <p>Phone: <%= item.phone %></p>
                    <p><%= item.yelp_url %></p>
                    <p><%= item.address %></p>
                </div>
              </div>

              <form action="/history/<%= item.id %>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="name" value='<%= item.name %>'>
                <input type="hidden" name="image_url" value='<%= item.img_url %>'>
                <input type="hidden" name="yelp_url" value='<%= item.yelp_url %>'>
                <input type="hidden" name="info" value='<%= item.info %>'>
                <input type="hidden" name="rating" value='<%= item.rating %>'>
                <input type="hidden" name="price" value='<%= item.price %>'>
                <input type="hidden" name="address" value='<%= item.address %>'>
                <input type="hidden" name="phone" value='<%= item.phone %>'>
                <input type="hidden" name="id" value='<%= item.id %>'>
                <button type="submit" id="selectLocation">REMOVE</button>
            </form>
          </section>
          </li>
          <% }) %>
      </ul>
    </main>
    <%- include('../views/footer'); %>
    <%- include('../views/scripts'); %>
  </body>
</html>
