<!DOCTYPE html>
<html lang="en">
        <%- include('../views/head', {page_title:"HalfWay Locations"}); %>
<body>
        <%- include('../views/header'); %>
    <main>
        <div class="deck-container">
            <% locations.forEach((location) => { %>
            <div class="card-container">
                <div class="pop">
                    <button onclick="myFunc('btn')">
                        <h2><%= location.name %></h2>
                        <div><p><%= location.rating %></p></div>
                    </button>
                </div>
                <div class="popup-container" id= "popup">
                    <div class="popup">
                        <h2><%= location.name %></h2>
                        <button onclick="closePop()">Back</button>
                    </div>
                </div>
            </div> 
            <%});%>
        </div>
        <script>
        var btn = document.getElementById("popup")      
        var myFunc = function(type){
            console.log('hi');
            
            btn.classList.add("isvisable");
        }  
        var closePop = function(){
           if(event.currentTarget === event.target){
             btn.classList.remove("isvisable")
           }
        }
        </script>
    </main>
    <%- include('../views/footer'); %>
</body>
</html>




     
   