<!DOCTYPE html>
<html lang="en">
        <%- include('../views/head', {page_title:"HalfWay Locations"}); %>
        <link rel="stylesheet" href="styles/location.css">
<body>
        <%- include('../views/header'); %>
    <main>
        <div class="deck-container">
                <% console.log(coords) %>
            <% locations.forEach((location) => { %>
                
            <div class="card-container">
                <div class="pop">
                    <button onclick="myFunc('<%- location.id %>')">
                        <h2><%= location.name %></h2>
                        <div><p>Rating: <%= location.rating %></p></div>
                    </button>
                </div>
                <div class="popup-container" id= "<%- location.id %>">
                    <div class="popup">
                        <h2><%= location.name %></h2>
                        <img src="<%-location.img_url %>" alt="location image">
                        <h4><%= location.info %></h4>
                        <h4><%= location.address %></h4>
                        <p><%= location.rating %></p>
                        <p><%= location.price %></p>
                        <p><%= location.phone %></p>
                        <img src="<%-coords.imgSrc %><%- location.lat %>,<%-location.lng %><%-coords.imgKey %>" alt="Map">

                        <button onclick="closePop('<%- location.id %>')">Back</button>
                        <form action="/history" method="POST">
                            <input type="hidden" name="name" value='<%= location.name %>'>
                            <input type="hidden" name="image_url" value='<%= location.img_url %>'>
                            <input type="hidden" name="yelp_url" value='<%= location.yelp_url %>'>
                            <input type="hidden" name="info" value='<%= location.info %>'>
                            <input type="hidden" name="rating" value='<%= location.rating %>'>
                            <input type="hidden" name="price" value='<%= location.price %>'>
                            <input type="hidden" name="address" value='<%= location.address %>'>
                            <input type="hidden" name="phone" value='<%= location.phone %>'>
                            <button type="submit" id="selectLocation">Select Location</button>
                        </form>
                        
                    </div>
                </div>
            </div> 
            <%});%>
        </div>
        <script>

        var myFunc = function(type){
            // console.log('hi');
            var btn = document.getElementById(type) 
            btn.classList.add("isvisable");
        }
    
        var closePop = function(type){
        //    if(event.currentTarget === event.target){
            var btn = document.getElementById(type) 
            btn.classList.remove("isvisable")
        //    }
        }

        </script>
    </main>
    <%- include('../views/footer'); %>
    <%- include('../views/scripts'); %>
</body>
</html>
