<!DOCTYPE html>
<html lang="en">
        <%- include('../views/head', {page_title:"HalfWay Locations"}); %>
<body>
        <%- include('../views/header'); %>
    <main>
        <div class="deck-container">
                <% console.log(coords) %>
            <% locations.forEach((location) => { %>
                
            <div class="card-container">
                <div class="pop">
                    <button onclick="myFunc('<%- location.id %>')">
                        <h2><%= location.name %></h2>
                        <div><p>Rating: <%= location.rating %></p></div>
                    </button>
                </div>
                <div class="popup-container" id= "<%- location.id %>">
                    <div class="popup" >
                        <img id="map" src="<%-coords.imgSrc %><%- location.lat %>,<%-location.lng %><%-coords.imgKey %>" alt="Map">
                        
                        <div class="info-container">
                            <h2><%= location.name %></h2>
                            <div class="smaller-container">
                                <img id="pic" src="<%-location.img_url %>" alt="location image">
                                <div class="info">
                                    <h4><%= location.info %></h4>
                                    <p>Rating 0-5: <%= location.rating %></p>
                                    <p>Price: <%= location.price %></p>
                                    <p>Phone: <%= location.phone %></p>
                                    <p><%= location.address %></p>
                                </div>
                            </div>
                            <div class="popbtns">
                                    <button id="back" onclick="closePop('<%- location.id %>')">BACK</button>
                                    <button id="selectLocation" type="button">SELECT LOCATION</button>
                            </div>
                        </div>
                    
                        
                    </div>
                </div>
            </div> 
            <%});%>
        </div>
        <script>

        var myFunc = function(type){
            // console.log('hi');
            var btn = document.getElementById(type) 
            btn.classList.add("isvisable");
        }
    
        var closePop = function(type){
        //    if(event.currentTarget === event.target){
            var btn = document.getElementById(type) 
            btn.classList.remove("isvisable")
        //    }
        }

        </script>
    </main>
    <%- include('../views/footer'); %>
    <%- include('../views/scripts'); %>
</body>
</html>
