<!DOCTYPE html>
<html lang="en">
        <%- include('../views/head', {page_title:"HalfWay Locations"}); %>
<body>
        <%- include('../views/header'); %>
    <main>
        <div class="deck-container">
            <% locations.forEach((location) => { %>
            <div class="card-container">
                <div class="pop">
                    <button onclick="myFunc('<%- location.id %>')">
                        <h2><%= location.name %></h2>
                        <div><p><%= location.rating %></p></div>
                    </button>
                </div>
                <div class="popup-container" id= "<%- location.id %>">
                    <div class="popup">
                        <h2><%= location.name %></h2>
                        <h3><%= location.isClosed %></h3>
                        <img src="<%-location.img_url %>" alt="location image">
                        <h4><%= location.info %></h4>
                        <h4><%= location.address %></h4>
                        <p><%= location.rating %></p>
                        <p><%= location.price %></p>
                        <p><%= location.phone %></p>
                        <button onclick="closePop('<%- location.id %>')">Back</button>
                        <button id="selectLocation" type="button">Select Location</button>
                    </div>
                </div>
            </div> 
            <%});%>
        </div>
        <script>
        console.log(location)
             
        var myFunc = function(type){
            // console.log('hi');
            var btn = document.getElementById(type) 
            btn.classList.add("isvisable");
        }
    
        var closePop = function(type){
        //    if(event.currentTarget === event.target){
            var btn = document.getElementById(type) 
            btn.classList.remove("isvisable")
        //    }
        }
        </script>
    </main>
    <%- include('../views/footer'); %>
    <%- include('../views/scripts'); %>
</body>
</html>
